<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Under Contruction</title>
    <link rel="stylesheet" href="../styles/coming-soon.css">
    <link rel="shortcut icon" type="image/x-icon" href="img/logo-black.png" />
</head>

<body>
    <div class="wrapper">
        <h2>Im very <span>sorry,</span></h2>
        <h3>but this page is under construction...</h3>
        <div class="center">
            <button><a href="../index.html">Go Back</a></button>
        </div>
        <img src="../img/horse.png" alt="">
    </div>
</body>

</html>