<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog Page</title>
    <link rel="stylesheet" href="../styles/dogpage.css">
    <link rel="shortcut icon" type="image/x-icon" href="../img/logo-black.png" />
</head>

<body>
    <header>
        <img class="logo" src="../img/logo-black.png" alt="logo">
        <nav>
            <ul class="nav-links">
                <li><a href="../homePage.html">Home</a></li>
                <li><a href="../components/aboutPage.html">About</a></li>
                <li><a href="../components/underContruction.html">Coming Soon</a></li>

            </ul>
        </nav>
    </header>
    <div class="main">
        <div class="wrapper">
            <div class="cards-wrap">
                <div class="card-item">
                    <div class="card-inner">
                        <div class="card-top">
                            <img src="../img/Nola.jpg" alt="dog1" />
                        </div>
                        <div class="card-bottom">
                            <div class="card-category">
                                Nola
                            </div>
                            <div class="card-info">
                                <p class="about">
                                    She's my best friend <b>for 7 years</b>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="card-inner">
                        <div class="card-top">
                            <img src="../img/Nola2.jpg" alt="dog2" />
                        </div>
                        <div class="card-bottom">
                            <div class="card-category">
                                Nola
                            </div>
                            <div class="card-info">
                                <p class="about">
                                    She's a <b>pug </b>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="card-inner">
                        <div class="card-top">
                            <img src="../img/Nola3.jpg" alt="dog3" />
                        </div>
                        <div class="card-bottom">
                            <div class="card-category">
                                Nola
                            </div>
                            <div class="card-info">
                                <p class="title">Did you know...</p>
                                <p class="about">
                                    The Black Pug is a small dog <b>with a lot of personality.</b>Perfect for first time
                                    pet
                                    parents
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="card-inner">
                        <div class="card-top">
                            <img src="../img/Tofija.jpg" alt="Tofija" />
                        </div>
                        <div class="card-bottom">
                            <div class="card-category">
                                Tofija
                            </div>
                            <div class="card-info">
                                <p class="about">
                                    <b>Tofija</b> was my very first pug
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="card-inner">
                        <div class="card-top">
                            <img src="../img/Udris.jpg" alt="Udris" />
                        </div>
                        <div class="card-bottom">
                            <div class="card-category">
                                Udris
                            </div>
                            <div class="card-info">
                                <p class="title">American Staforshire Terrier</p>
                                <p class="about">
                                    She's the <b>youngest member in my small dog family</b>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="card-inner">
                        <div class="card-top">
                            <img src="../img/Udris1.jpg" alt="dog1" />
                        </div>
                        <div class="card-bottom">
                            <div class="card-category">
                                Udris
                            </div>
                            <div class="card-info">
                                <p class="title">Did you know...</p>
                                <p class="about">
                                    The American Staffordshire terrier is a <b>bundle of muscles in an agile
                                        package.</b>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="card-inner">
                        <div class="card-top">
                            <img src="../img/Udris2.jpg" alt="dog11" />
                        </div>
                        <div class="card-bottom">
                            <div class="card-category">
                                Udris
                            </div>
                            <div class="card-info">
                                <p class="title">Did you know...</p>
                                <p class="about">
                                    This breed needs a vigorous <b>daily workout</b> along with some mind games, in
                                    order to be at its best.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="card-inner">
                        <div class="card-top">
                            <img src="../img/Udris3.jpg" alt="dog12" />
                        </div>
                        <div class="card-bottom">
                            <div class="card-category">
                                Udris
                            </div>
                            <div class="card-info">
                                <p class="about">
                                    She's <b>4 years old</b>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>