.logo {
    cursor: pointer;
    width: 80px;
    border-radius: 50px;
}

.nav-links {
    font-weight: 800;
    list-style: none;
    font-size: 16px;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #4a536b;
}

.nav-links li a:hover {
    color: #ff9a8d
}