@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import 'style.css';
@import 'logo.css';
@import 'link-to.css';
@import 'footer.css';

.main {
    float: left;
    width: 60%;
    padding: 0 20px;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.cards-wrap {
    display: flex;
    flex-wrap: wrap;
}

.cards-wrap .card-item {
    width: 25%;
    padding: 10px;
}

.cards-wrap .card-inner {
    background: #4a536b;
    border-radius: 4px;
}

.cards-wrap .card-top {
    width: 100%;
    height: auto;
    padding: 10px;
    padding-bottom: 0;
}

.cards-wrap .card-bottom {
    padding: 15px;
}

.cards-wrap .card-bottom .card-category {
    text-transform: uppercase;
    text-align: center;
}

.cards-wrap .card-bottom .card-info {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ff9a8d;
    border-radius: 4px;
}

.cards-wrap .card-bottom .card-info .title {
    color: #aed6dc;
    font-size: 18px;
    margin-bottom: 5px;
}

.about b {
    color: #ff9a8d
}

.right {
    background-color: #4a536b;
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
    border-radius: 4px;
    letter-spacing: 1px;
}

.right span {
    color: #ff9a8d;
}

.right button {
    width: 25%;
    text-align: center;
    background: #4a536b;
    color: #aed6dc;
    margin-top: 6px;
    padding: 2px;
    border: 1px solid #ff9a8d;
    border-radius: 2px;
}

.right a {
    text-decoration: none;
}



@media only screen and (max-width: 280px) {

    .menu,
    .main,
    .right {
        width: 100%;
    }

    .nav-links li {
        padding: 0px 9px;
    }

    .nav-links li a {
        font-size: 10px;
    }
}

@media (max-width: 2560px) {
    footer {
        position: absolute;
        bottom: 0;

    }

    footer .content .middle {
        padding-left: 50px;
    }
}

@media (max-width: 1440px) {
    footer {
        position: inherit
    }

    .cards-wrap .card-item {
        width: 49.4%;
    }

    footer .content .middle {
        padding-left: 50px;
    }
}

@media (max-width:950px) {
    footer .content .box {
        width: 50%;
    }

    .content .right {
        margin-top: 40px;
    }
}

@media (max-width: 768px) {
    .cards-wrap .card-item {
        width: 50%;
    }

    .right button {
        width: 50%;
    }
}

@media (max-width:560px) {
    footer {
        position: relative;
    }

    footer .content .box {
        width: 100%;
        margin-top: 30px;
    }

    footer .content .middle {
        padding-left: 24px;
    }
}

@media (max-width: 528px) {
    .cards-wrap .card-item {
        width: 100%;
    }

    .right {
        margin-bottom: 2px;
    }
}

@media only screen and (max-width: 620px) {

    .menu,
    .main,
    .right {
        width: 100%;
    }

    .nav-links li {
        padding: 0px 12px;
    }

    .nav-links li a {
        font-size: 10px;
    }
}

@media only screen and (max-width: 280px) {
    .nav-links li {
        padding: 0px 7px;
    }

    .nav-links li a {
        font-size: 9px;
    }
}